/* Home.css */

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  width: 300px;
  margin: 20px;
  padding: 20px;
  background-color: #f0f0f0;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.card p {
  font-size: 16px;
}

/* Styling for links */
.card a {
  font-size: 20px;
  font-weight: bold;
  color: #007bff; /* Blue color */
  text-decoration: none;
}

/* Hover effect for links */
.card a:hover {
  color: #0056b3; /* Darker blue color */
}
